body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
main {
  background-color: white;
  width: 620px;
  margin: 26px auto 0px;
  border-radius: 10px;
  padding: 28px;
}
/* -------------------section form search input */
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.search-bar {
  width: 76%;
  height: 30px;
  border-radius: 8px;
}

.submit-button {
  width: 20%;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  background-color: rgb(135, 88, 176);
  border: 2px solid rgb(192, 170, 213);
  transition: all 150ms;
}
.submit-button:hover {
  color: rgb(121, 79, 159);
  background-color: #fff;
  border: 2px solid rgb(121, 79, 159);
}

/* -----------------section weather display */

.weather-section {
  margin: 14px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-weather-div {
  width: 64%;
  margin-bottom: 15px;
}
.div-current-temp {
  display: flex;
  align-items: center;
}

.current-temp {
  font-size: 4em;
  font-weight: 700;
}
.current-temp-unit {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 5px;
}

.main-icon {
  width: 120px;
  margin-left: 10px;
}

h1 {
  font-size: 3.4em;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 30px;
}
.div-city-date p {
  color: #474747;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: "Hind Siliguri", sans-serif;
}

.value-paramenter {
  color: #474747;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
}
.value-hum-wind {
  color: rgb(90, 19, 156);
  font-weight: 400;
  padding-right: 6px;
}
/* -------------------divison week weather */

.week-weather-div {
  width: 34%;
}
.forecast-week-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.forecast-week-day {
  margin-left: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 12px 16px;
}

.forecast-week-day h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
  padding-bottom: 5px;
}
.week-icon {
  color: rgb(88, 21, 150);
  font-size: 28px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 100, "opsz" 20;
}
.span-weekdays {
  margin-left: 18px;
}
.span-weekdays p {
  font-family: "Hind Siliguri", sans-serif;
  margin: 0;
}

.span-weekdays .value-min {
  color: rgb(88, 21, 150);
  font-weight: 400;
  padding-left: 12px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  color: #474747;
}

footer a {
  color: rgb(135, 88, 176);
}
